.feature {
  width: 100%;
  padding: 136px 0;
}

.feature-container {
  max-width: 81.94%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.feature-left {
  width: 32.2%;
}

.feature-left h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 72px;
}

.feature-left button {
  padding: 16px 32px;
  border: 1px solid #00d1cc;
  color: #00d1cc;
  border-radius: 100px;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.feature-left button:hover {
  border-color: #5543d1;
  color: #5543d1;
}

.feature-right-content {
  padding: 32px 0;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  gap: 8.33%;
}

.feature-right-content span {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.feature-right-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 1200px) {
  .feature {
    padding: 100px 0;
  }

  .feature-left h2 {
    font-size: 55px;
    line-height: 66px;
  }

  .feature-right-content {
    padding: 24px 0;
    gap: 5%;
  }
}

@media screen and (max-width: 992px) {
  .feature {
    padding: 64px 0;
  }

  .feature-container {
    flex-direction: column;
    gap: 44px;
    max-width: 86%;
  }

  .feature-left {
    width: 100%;
  }

  .feature-left h2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .feature {
    padding: 44px 0;
  }

  .feature-container {
    gap: 36px;
  }

  .feature-left h2 {
    font-size: 44px;
    margin-bottom: 16px;
    line-height: 54px;
  }
}

@media screen and (max-width: 576px) {
  .feature {
    padding: 36px 0;
  }

  .feature-left h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .feature-right-content span {
    font-size: 28px;
  }

  .feature-right-content p {
    font-size: 14px;
    line-height: 24px;
  }
}
